<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无豆瓣读书</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/lrtk.js"></script>

</head>
<body>
<div class="top">
      <div class="row">
        {% if username %}
          <span class="top-left">{{username}}，欢迎来到豆瓣读书!</span>
        {%end%}
          <span class="top-right">
        {% if username %}
          <a href="#" style="height:30px; background:#277378; padding:0px 10px; font-size:12px; color:#fff;float:left; text-align:center"><img src="templates/images/d-01.jpg" />个人中心</a>
        {%end%}

        {% if not username %}
          <a href="#">注册</a>
          <a href="#">登录</a>
        {% end %}
        </span>
      </div>
</div>
<div class="clear"></div>

<div class="logo">
      <div class="row">
          <div class="logo-left"><img src="images/d-02.png" /></div>
          <div class="logo-right">
              
<div class="sousuo">
          <form name="form3" method="post" action="">
            
                <input type="text" name="box3" id="box3" 
        onFocus="if(value==defaultValue){value='';}" onBlur="if(!value){value=defaultValue;}" 
       value="请输入关键字"/>
                <input type="submit" name="ss_btn3" id="ss_btn3" value="搜 索"/>
             
          
          </form>  
          </div>
          </div>
      </div>
</div>
<div class="clear"></div>

<div class="row">
  <div style="padding-top:20px;"><img src="images/d-03.jpg" /></div>
</div>
<div class="clear"></div>

<div class="row">
<!--/*左边部分开始*/-->
  <div class="list-left">
      <div class="list-left-top"><span class="left-s1">热门标签</span><span class="left-s2">您现在所在的位置：<a href="#">首页</a> > <a href="#">标签列表</a></span></div>
      <div class="clear"></div>
      
      <div class="xq-jieshao">
        <div class="xq-jieshao-left"><img src="images/d-23.png" /></div>
        <div class="xq-jieshao-right">
            <p class="xq-jieshao-right-p1">最风筝的人</p>
            <p>作者：<span>史密斯</span></p>
            <p>关键词：食品安全，爱情，勇气</p>
            <p>授权方：<span>人民出版社</span>授权作品，不得转载</p>
            <p>评分：<img src="images/d-25.png" /><img src="images/d-25.png" /><img src="images/d-25.png" /><img src="images/d-25.png" />
                 3人 | <a href="#"><span>我来评分</span></a></p>
            <p class="xq-jieshao-right-p2">
            <a href="#" class="show-tankuan">想读</a>
            <a href="#"  class="show-tankuan">在读</a>
            <a href="#"  class="show-tankuan">读过</a>
            评分：<img src="images/d-24.png" /></p>
            
            
            
            
        </div>
      
      </div>
      <div class="clear"></div>
      
<!--鼠标点击下拉框-->
   <div class="tankuan" style="display: none;">
      <div class="tankuan-top">添加收藏：我读过这本书<a href="#" class="closeBtn"><img src="images/d-33.png" /></a></div>
      <div class="tankuan-nn">
          <p>给个评论吧?（可选）<img src="images/d-24.png" /></p>
          <p>标签(多个标签用空格分隔):</p>
          <p><input name="tancc" id="tancc" type="text" /></p>
          <p class="tankuan-nn-p1"><span>常用标签：</span><span><a href="#">传记</a>
                     <a href="#">宋淇</a>
                     <a href="#"> 张爱玲</a>
                     <a href="#">散文随笔</a>
                     <a href="#">文学</a>
                     <a href="#">钱锺书 </a>
                     <a href="#"> 陈晓勤</a>   
                     <a href="#"> Biography</a> 
                     <a href="#"> 现当代文学</a>  
                     <a href="#">随便看看</a> </span>
         </p>
         <div class="clear"></div>
         
          <p>简介附注：<br /><input name="tandd" id="tandd" type="text" /></p>
          <p><input type="checkbox" name="bike"  style=" margin-right:5px;"/>仅自己可见</p>
      </div>
      <div class="tankuan-bott">分享到<input type="checkbox" name="bike"  style=" margin-left:10px;"/>我的广播<span><a href="#"><img src="images/d-35.png" /></a></span></div>
      <div class="clear"></div>  
   </div>      
      
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">

    $(function(){
        $(".show-tankuan").click(function(){
          $(".tankuan").show();
        })
        $(".closeBtn").click(function(){
            $(".tankuan").hide();
            return false;
        })
    })

</script>

      
      
 <div></div>     
      
      
      
      
      
      
      
      
      
      
      
      
       <div class="xq-js1"> 
       <div class="list-left-top111"><span class="left-s1">内容介绍</span></div>
           <p>和女子入住南安大霞美一家宾馆40多分钟后，堂哥就在别人的美一家宾馆40多分钟后，堂哥就在别人的搀扶下从宾馆一消防门走出，随后就搀扶下从宾馆一消防门走出，随后就发生了意外。这是怎么回事呢？记者随即赶赴现场了解情况</p> 
         <p>和女子入住南安大霞美一家宾馆40多分钟后，堂哥就在别人的美一家宾馆40多分钟后，堂哥就在别人的搀扶下从宾馆一消防门走出，随后就搀扶下从宾馆一消防门走出，随后就发生了意外。这是怎么回事呢？记者随即赶赴现场了解情况</p>  
       </div>
        
        <div class="xq-js1"> 
       <div class="list-left-top111"><span class="left-s1">作者介绍</span></div>
           <p>和女子入住南安大霞美一家宾馆40多分钟后，堂哥就在别人的美一家宾馆40多分钟后，堂哥就在别人的搀扶下从宾馆一消防门走出，随后就搀扶下从宾馆一消防门走出，随后就发生了意外。这是怎么回事呢？记者随即赶赴现场了解情况</p> 
         <p>和女子入住南安大霞美一家宾馆40多分钟后，堂哥就在别人的美一家宾馆40多分钟后，堂哥就在别人的搀扶下从宾馆一消防门走出，随后就搀扶下从宾馆一消防门走出，随后就发生了意外。这是怎么回事呢？记者随即赶赴现场了解情况</p>  
       </div>       
       
       
       <div class="xq-js2"> 
          <div class="list-left-top111"><span class="left-s1">用户评论</span></div>
          
          <div class="xq-js1-plun">
             <div class="xq-js1-plun1"><img src="images/d-27.png" /></div>
             <div class="xq-js1-plun2"><p><textarea name="wenb" cols="wenb" id="wenb" rows=""></textarea></p>
                                      <p><input name="but" id="but" type="button" /></p>  
             </div>
             <div class="clear"></div>
             
            <ul class="xq-js1-plun3"><!--用户评论列表-->
               <li><span class="xq-js1-plun3-s1"><img src="images/d-29.png" /></span>
                   <span class="xq-js1-plun3-s2">
                         <p class="xq-js1-plun3-s2-pp1"><img src="images/d-30.png" />用户1990<span>2015-09-08  08:00 发表</span></p>
                         <p class="xq-js1-plun3-s2-pp2">很喜欢看了很多很喜欢看了很很喜欢看了很多遍了，真的很经典之几零五年新低多遍了，真的很经典之几零五年新低遍了，真的很经典之几零五年新低</p>
                         <p class="xq-js1-plun3-s2-pp3"><a href="#">回复</a></p>
                   </span>
                    <div class="clear"></div>
               </li>
               
                <li><span class="xq-js1-plun3-s1"><img src="images/d-29.png" /></span>
                   <span class="xq-js1-plun3-s2">
                         <p class="xq-js1-plun3-s2-pp1"><img src="images/d-30.png" />用户1990<span>2015-09-08  08:00 发表</span></p>
                         <p class="xq-js1-plun3-s2-pp2">很喜欢看了很多很喜欢看了很很喜欢看了很多遍了，真的很经典之几零五年新低多遍了，真的很经典之几零五年新低遍了，真的很经典之几零五年新低</p>
                         <p class="xq-js1-plun3-s2-pp3"><a href="#">回复</a></p>
                   </span>
                    <div class="clear"></div>
               </li>               
               
               <li><span class="xq-js1-plun3-s1"><img src="images/d-29.png" /></span>
                   <span class="xq-js1-plun3-s2">
                         <p class="xq-js1-plun3-s2-pp1"><img src="images/d-30.png" />用户1990<span>2015-09-08  08:00 发表</span></p>
                         <p class="xq-js1-plun3-s2-pp2">很喜欢看了很多很喜欢看了很很喜欢看了很多遍了，真的很经典之几零五年新低多遍了，真的很经典之几零五年新低遍了，真的很经典之几零五年新低</p>
                         <p class="xq-js1-plun3-s2-pp3"><a href="#">回复</a></p>
                   </span>
                    <div class="clear"></div>
               </li>
               
                               <li><span class="xq-js1-plun3-s1"><img src="images/d-29.png" /></span>
                   <span class="xq-js1-plun3-s2">
                         <p class="xq-js1-plun3-s2-pp1"><img src="images/d-30.png" />用户1990<span>2015-09-08  08:00 发表</span></p>
                         <p class="xq-js1-plun3-s2-pp2">很喜欢看了很多很喜欢看了很很喜欢看了很多遍了，真的很经典之几零五年新低多遍了，真的很经典之几零五年新低遍了，真的很经典之几零五年新低</p>
                         <p class="xq-js1-plun3-s2-pp3"><a href="#">回复</a></p>
                   </span>
                    <div class="clear"></div>
               </li>               
               
               <li><span class="xq-js1-plun3-s1"><img src="images/d-29.png" /></span>
                   <span class="xq-js1-plun3-s2">
                         <p class="xq-js1-plun3-s2-pp1"><img src="images/d-30.png" />用户1990<span>2015-09-08  08:00 发表</span></p>
                         <p class="xq-js1-plun3-s2-pp2">很喜欢看了很多很喜欢看了很很喜欢看了很多遍了，真的很经典之几零五年新低多遍了，真的很经典之几零五年新低遍了，真的很经典之几零五年新低</p>
                         <p class="xq-js1-plun3-s2-pp3"><a href="#">回复</a></p>
                   </span>
                    <div class="clear"></div>
               </li>
              
              
                              <li><span class="xq-js1-plun3-s1"><img src="images/d-29.png" /></span>
                   <span class="xq-js1-plun3-s2">
                         <p class="xq-js1-plun3-s2-pp1"><img src="images/d-30.png" />用户1990<span>2015-09-08  08:00 发表</span></p>
                         <p class="xq-js1-plun3-s2-pp2">很喜欢看了很多很喜欢看了很很喜欢看了很多遍了，真的很经典之几零五年新低多遍了，真的很经典之几零五年新低遍了，真的很经典之几零五年新低</p>
                         <p class="xq-js1-plun3-s2-pp3"><a href="#">回复</a></p>
                   </span>
                    <div class="clear"></div>
               </li>               
               
               <li><span class="xq-js1-plun3-s1"><img src="images/d-29.png" /></span>
                   <span class="xq-js1-plun3-s2">
                         <p class="xq-js1-plun3-s2-pp1"><img src="images/d-30.png" />用户1990<span>2015-09-08  08:00 发表</span></p>
                         <p class="xq-js1-plun3-s2-pp2">很喜欢看了很多很喜欢看了很很喜欢看了很多遍了，真的很经典之几零五年新低多遍了，真的很经典之几零五年新低遍了，真的很经典之几零五年新低</p>
                         <p class="xq-js1-plun3-s2-pp3"><a href="#">回复</a></p>
                   </span>
                    <div class="clear"></div>
               </li>
      </ul>
      
      
       <div class="lie"><!--分页开始-->
<ul>  
  <li><a style="width:54px;" href="#">上一页</a></li>
  <li><a style="width:34px;" href="#">首页</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a style="width:34px;" href="#">尾页</a></li>
  <li><a style="width:54px;" href="#">下一页</a></li>
</ul>

</div><!--分页结束--> 
 
         </div>
 </div>      

    <div class="left-bottom1"><img src="images/d-07.png" /></div>

    <div class="list-left-top">
           <span class="left-s1">热门标签</span>
           <span class="left-s2"><a href="#">更多>></a></span></div>
   <ul class="tu-list">
     <li><a href="#"><img src="images/d-05.png" /><p class="tu-list-p1">生活本身</p><p>海明威.威尔逊</p></a></li>
     <li><a href="#"><img src="images/d-05.png" /><p class="tu-list-p1">生活本身</p><p>海明威.威尔逊</p></a></li>
     <li><a href="#"><img src="images/d-05.png" /><p class="tu-list-p1">生活本身</p><p>海明威.威尔逊</p></a></li>
     <li><a href="#"><img src="images/d-05.png" /><p class="tu-list-p1">生活本身</p><p>海明威.威尔逊</p></a></li>
     <li><a href="#"><img src="images/d-05.png" /><p class="tu-list-p1">生活本身</p><p>海明威.威尔逊</p></a></li>
     <li><a href="#"><img src="images/d-05.png" /><p class="tu-list-p1">生活本身</p><p>海明威.威尔逊</p></a></li>
  </ul>



</div>
<!--左边结束  -->
  
  
  
<!--右边开始-->  
  <div class="list-right">
     <div class="list-right1">
        <div class="list-right1-top">热门标签<a href="#">更多>></a></div>
        <div class="sousuo2">
          <form name="form4" method="post" action="">
            
                <input type="text" name="box4" id="box4" 
        onFocus="if(value==defaultValue){value='';}" onBlur="if(!value){value=defaultValue;}" 
       value="请输入关键字"/>
                <input type="submit" name="ss_btn4" id="ss_btn4" value="搜 索"/>
             
          
          </form>  
          </div>
          <div class="clear"></div>
          
          <ul class="fenlei">
             <li>
                <p class="fenlei-p1">文学</p>    
                <p class="fenlei-p2">
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#"><span>更多>></span></a></p>
             </li>
             <div class="clear"></div>
             
               <li>
                <p class="fenlei-p1">文学</p>    
                <p class="fenlei-p2">
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#"><span>更多>></span></a></p>
             </li>
             <div class="clear"></div> 
             
                          <li>
                <p class="fenlei-p1">文学</p>    
                <p class="fenlei-p2">
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#"><span>更多>></span></a></p>
             </li>
             <div class="clear"></div>
             
                          <li>
                <p class="fenlei-p1">文学</p>    
                <p class="fenlei-p2">
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#"><span>更多>></span></a></p>
             </li>
             <div class="clear"></div>
             
                          <li>
                <p class="fenlei-p1">文学</p>    
                <p class="fenlei-p2">
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#"><span>更多>></span></a></p>
             </li>
             <div class="clear"></div>
             
                         <li>
                <p class="fenlei-p1">文学</p>    
                <p class="fenlei-p2">
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#">小说</a>
                  <a href="#"><span>更多>></span></a></p>
             </li>
             <div class="clear"></div>
              
             
          </ul>
     </div>
     
     
     <!-- 代码开始 --> 
<div id="div1">
<a href="http://www.lanrentuku.com" target="_blank">小说</a>
<a href="http://www.lanrentuku.com" target="_blank">随笔 </a>
<a href="http://www.lanrentuku.com" target="_blank">散文</a>
<a href="http://www.lanrentuku.com" target="_blank">文学</a>
<a href="http://www.lanrentuku.com" target="_blank">日本</a>
<a href="http://www.lanrentuku.com" target="_blank">诗歌</a>
<a href="http://www.lanrentuku.com" target="_blank">童话</a>
<a href="http://www.lanrentuku.com" target="_blank">港台</a>
<a href="http://www.lanrentuku.com" target="_blank">名著</a>
<a href="http://www.lanrentuku.com" target="_blank">流行</a>
<a href="http://www.lanrentuku.com" target="_blank">小说</a>
<a href="http://www.lanrentuku.com" target="_blank">随笔 </a>
<a href="http://www.lanrentuku.com" target="_blank">散文</a>
<a href="http://www.lanrentuku.com" target="_blank">文学</a>
<a href="http://www.lanrentuku.com" target="_blank">日本</a>
<a href="http://www.lanrentuku.com" target="_blank">诗歌</a>
<a href="http://www.lanrentuku.com" target="_blank">童话</a>
<a href="http://www.lanrentuku.com" target="_blank">港台</a>
<a href="http://www.lanrentuku.com" target="_blank">名著</a>
<a href="http://www.lanrentuku.com" target="_blank">流行</a>
<a href="http://www.lanrentuku.com" target="_blank">小说</a>
<a href="http://www.lanrentuku.com" target="_blank">随笔 </a>
<a href="http://www.lanrentuku.com" target="_blank">散文</a>
<a href="http://www.lanrentuku.com" target="_blank">文学</a>
<a href="http://www.lanrentuku.com" target="_blank">日本</a>
<a href="http://www.lanrentuku.com" target="_blank">诗歌</a>
<a href="http://www.lanrentuku.com" target="_blank">童话</a>
<a href="http://www.lanrentuku.com" target="_blank">港台</a>
<a href="http://www.lanrentuku.com" target="_blank">名著</a>
<a href="http://www.lanrentuku.com" target="_blank">流行</a>
</div>
<!-- 代码结束 -->
     
     
     
     
     
     
     
     
     <div class="list-right2"><!--右边二楼-->
        <div class="list-right1-top">热门标签<a href="#">更多>></a></div>

          <ul class="shu-list">
             <li>
                <p class="shu-list-p1"><a href="#"><img src="images/d-08.png" /></a></p>
                <p class="shu-list-p2">月光落在我的左手</p>
                <p><img src="images/d-09.png" /></p> 
                <p>作者：余秀华</p> 
                <p>诗歌/余秀华/中国出版社</p>
             
             </li>
             <div class="clear"></div>
              
              <li>
                <p class="shu-list-p1"><a href="#"><img src="images/d-08.png" /></a></p>
                <p class="shu-list-p2">月光落在我的左手</p>
                <p><img src="images/d-09.png" /></p> 
                <p>作者：余秀华</p> 
                <p>诗歌/余秀华/中国出版社</p>   
             </li>
             <div class="clear"></div> 
             
                          <li>
                <p class="shu-list-p1"><a href="#"><img src="images/d-08.png" /></a></p>
                <p class="shu-list-p2">月光落在我的左手</p>
                <p><img src="images/d-09.png" /></p> 
                <p>作者：余秀华</p> 
                <p>诗歌/余秀华/中国出版社</p>
             
             </li>
             <div class="clear"></div>
              
              <li>
                <p class="shu-list-p1"><a href="#"><img src="images/d-08.png" /></a></p>
                <p class="shu-list-p2">月光落在我的左手</p>
                <p><img src="images/d-09.png" /></p> 
                <p>作者：余秀华</p> 
                <p>诗歌/余秀华/中国出版社</p>   
             </li>
             <div class="clear"></div>   
             
             
                          <li>
                <p class="shu-list-p1"><a href="#"><img src="images/d-08.png" /></a></p>
                <p class="shu-list-p2">月光落在我的左手</p>
                <p><img src="images/d-09.png" /></p> 
                <p>作者：余秀华</p> 
                <p>诗歌/余秀华/中国出版社</p>
             
             </li>
             <div class="clear"></div>
              
              <li>
                <p class="shu-list-p1"><a href="#"><img src="images/d-08.png" /></a></p>
                <p class="shu-list-p2">月光落在我的左手</p>
                <p><img src="images/d-09.png" /></p> 
                <p>作者：余秀华</p> 
                <p>诗歌/余秀华/中国出版社</p>   
             </li>
             <div class="clear"></div>   
             
                          <li>
                <p class="shu-list-p1"><a href="#"><img src="images/d-08.png" /></a></p>
                <p class="shu-list-p2">月光落在我的左手</p>
                <p><img src="images/d-09.png" /></p> 
                <p>作者：余秀华</p> 
                <p>诗歌/余秀华/中国出版社</p>
             
             </li>
             <div class="clear"></div>
              
              <li>
                <p class="shu-list-p1"><a href="#"><img src="images/d-08.png" /></a></p>
                <p class="shu-list-p2">月光落在我的左手</p>
                <p><img src="images/d-09.png" /></p> 
                <p>作者：余秀华</p> 
                <p>诗歌/余秀华/中国出版社</p>   
             </li>
             <div class="clear"></div>            
          </ul>
     </div>
  </div><!--/*右边结束*/-->
</div>
<div class="clear"></div>






<div class="di">
   <div class="row">
   
  <div class="di-pp"> <p><a href="#">关于豆瓣</a> 
  · <a href="#">在豆瓣工作</a>
   · <a href="#">联系我们</a>
    ·<a href="#"> 免责声明</a>
    · <a href="#"> 帮助中心</a>
     ·<a href="#"> 开发者
     ·<a href="#">图书馆合作</a> 
     · <a href="#">手机读书</a> 
     ·<a href="#"> 豆瓣广告</a></p>
<p>© 2005－2015 douban.com, all rights reserved 版权所有：豆瓣读书</p>
</div>
   </div>
</div>








</body>
</html>