<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无豆瓣读书</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/lrtk.js"></script>

</head>

<body>
<div class="top">
<div class="row">
     
        <p>
          <span class="top-left">小明，欢迎来到豆瓣读书!</span>
          <span class="top-right">
          <a href="#" style="height:30px; background:#277378; padding:0px 10px; font-size:12px; color:#fff;float:left; text-align:center"><img src="images/d-01.jpg" />个人中心</a>
            <a href="#">注册</a>
            <a href="#">登录</a>
          </span>
          </p>
      </div>
</div>
<div class="clear"></div>

<div class="logo">
      <div class="row">
          <div class="logo-left"><img src="images/d-02.png" /></div>
          <div class="logo-right">
              
<div class="sousuo">
          <form name="form3" method="post" action="">
            
                <input type="text" name="box3" id="box3" 
        onFocus="if(value==defaultValue){value='';}" onBlur="if(!value){value=defaultValue;}" 
       value="请输入关键字"/>
                <input type="submit" name="ss_btn3" id="ss_btn3" value="搜 索"/>
             
          
          </form>  
          </div>
          </div>
      </div>
</div>
<div class="clear"></div>

<div class="all"><!--all开始-->

<div class="row">
  <div style="padding-top:20px;"><img src="images/d-03.jpg" /></div>
</div>


<div class="row">

<div class="zhuce">
   <div class="zhuce-left">   
       <div class="zhuce-left-top"><span><img src="images/d-11.png" />用户登录</span></div>
       
       <div class="zhuce-left-n">

    <div class="biaod"><table width="700" border="0">
  <tr>
    <td class="biaod-1">用户名：</td>
    <td class="biaod-2"><input name="bb2" value=""  id="" class="bb2" type="text" /></td>
    
  </tr>
  
   <tr>
    <td class="biaod-1">密码：</td>
    <td class="biaod-6"><input name="bb2" value=""  id="" class="bb2" type="password" /></td>  
  </tr> 
  <tr>
    <td class="biaod-1"></td>
    <td class="biaod-6"><input type="checkbox" name="bike"  style=" margin-right:5px;"/>记住我（一个月内免费登录）</span></td>
    <td></td>

  </tr>
 
   <tr>
    <td class="biaod-1"></td>
    <td class="biaod-7"><input name="bb5" class="bb5"  type="button" />
    <span class="biaod-5"><a href="#">忘记密码？</a></span></td>
    <td></td>
  </tr>
 
</table>
</div>

</div>
   </div>
   
   <div class="zhuce-right">
      <p class="zhuce-right-p1">用户注册</p>
      <p>还没有注册账号？</p>
      <p><a href="#"><img src="images/d-19.png" /></a></p>
      <p>你也可以用站外账号登录</p> 
      <p><a href="#"><img src="images/d-16.png" /></a></p>
      <p><a href="#"><img src="images/d-17.png" /></a></p>
      <p><a href="#"><img src="images/d-18.png" /></a></p>
   </div>  
   <div class="clear"></div>
</div>


</div>
</div><!--all结束-->




<div class="di">
   <div class="row">
   
  <div class="di-pp"> <p><a href="#">关于豆瓣</a> 
  · <a href="#">在豆瓣工作</a>
   · <a href="#">联系我们</a>
    ·<a href="#"> 免责声明</a>
    · <a href="#"> 帮助中心</a>
     ·<a href="#"> 开发者
     ·<a href="#">图书馆合作</a> 
     · <a href="#">手机读书</a> 
     ·<a href="#"> 豆瓣广告</a></p>
<p>© 2005－2015 douban.com, all rights reserved 版权所有：豆瓣读书</p>
</div>
   </div>
</div>


</body>
</html>