<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>书籍推荐系统</title>
<link href="{{static_url('css/css.css')}}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{static_url('js/lrtk.js')}}"></script>

</head>

<body>
<div class="top">
      <div class="row">
        {% if username %}
          <span class="top-left">{{username}}，欢迎回到书籍推荐系统!</span>
        {%end%}
          <span class="top-right">
        {% if username %}
          <a href="/user" style="height:30px; background:#277378; padding:0px 10px; font-size:12px; color:#fff;float:left; text-align:center"><img src="{{static_url('images/d-01.jpg')}}" />个人中心</a>
          <a href="/logout">登出</a>
        {%end%}

        {% if not username %}
          <a href="/register">注册</a>
          <a href="/login">登录</a>
        {% end %}
        </span>
      </div>
</div>
<div class="clear"></div>

<div class="logo">
      <div class="row">
          <div class="logo-left"><a href="/"><img src="{{static_url('images/d-02.png')}}" /></a></div>
          <div class="logo-right">
              
          </div>
      </div>
</div>
<div class="clear"></div>

<div class="all"><!--all开始-->

<div class="row">
  <div style="padding-top:20px;"><img src="templates/images/d-03.jpg" /></div>
</div>


<div class="row">

<div class="zhuce">
   <div class="zhuce-left">   
       <div class="zhuce-left-top"><span><img src="templates/images/d-11.png" />用户登录</span></div>
       
       <div class="zhuce-left-n">

    <div class="biaod"><form name="login" method="post" action="/login"><table width="700" border="0">
  <tr>
    <td class="biaod-1">用户名：</td>
    <td class="biaod-2"><input name="username" value=""  id="" class="bb2" type="text" /></td>
    
  </tr>
  
   <tr>
    <td class="biaod-1">密码：</td>
    <td class="biaod-6"><input name="password" value=""  id="" class="bb2" type="password" /></td>  
  </tr> 
  <tr>
    <td class="biaod-1"></td>
    <td class="biaod-6"></td>
    <td></td>

  </tr>
 
   <tr>
    <td class="biaod-1"></td>
    <td class="biaod-7"><input name="bb5" class="bb5" value="" type="submit" />
    <span class="biaod-5"></span></td>
    <td></td>
  </tr>
 
</form></table>
</div>

</div>
   </div>
   
   <div class="zhuce-right">
      <p class="zhuce-right-p1">用户注册</p>
      <p>还没有注册账号？</p>
      <p><a href="/register"><img src="templates/images/d-19.png" /></a></p>
   </div>  
   <div class="clear"></div>
</div>


</div>
</div><!--all结束-->




<div class="di">
   <div class="row">
   
  <div class="di-pp"> <p><a href="#">关于书籍推荐系统</a> 
  · <a href="#">黄镨卉</a>
   · <a href="#">秦梓欣</a>
    ·<a href="#"> 陈经冬</a>
<p>all rights reserved 版权所有：陈经冬</p>
</div>
   </div>
</div>



</body>
</html>