<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>书籍推荐系统</title>
<link href="{{static_url('css/css.css')}}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{static_url('js/lrtk.js')}}"></script>
</head>

<body>
<div class="top">
      <div class="row">
        {% if username %}
          <span class="top-left">{{username}}，欢迎回到书籍推荐系统!</span>
        {%end%}
          <span class="top-right">
        {% if username %}
          <a href="/user" style="height:30px; background:#277378; padding:0px 10px; font-size:12px; color:#fff;float:left; text-align:center"><img src="{{static_url('images/d-01.jpg')}}" />个人中心</a>
          <a href="/logout">登出</a>
        {%end%}

        {% if not username %}
          <a href="/register">注册</a>
          <a href="/login">登录</a>
        {% end %}
        </span>
      </div>
</div>
<div class="clear"></div>

<div class="logo">
      <div class="row">
          <div class="logo-left"><a href="/"><img src="{{static_url('images/d-02.png')}}" /></a></div>
          <div class="logo-right">
              
      </div>
</div>
<div class="clear"></div>

<div class="row">
  <div style="padding-top:20px;"><img src="{{static_url("images/d-03.jpg")}}" /></div>
</div>
<div class="clear"></div>

<div class="row">
<!--/*左边部分开始*/-->
  <div class="list-left">
      <div class="list-left-top"><span class="left-s1">搜索 {{tagname}} 的结果...</span><span class="left-s2">您现在所在的位置：<a href="#">首页</a> > <a href="#">搜索列表</a></span></div>
      <div class="clear"></div>
      
      <ul class="list-list">
        {%for book in tagbooks %}
        <li><div class="lili-left"><a href="/book/{{book['id']}}"><img src="{{book['images']['medium']}}" /></a></div>
           <p class="lili1">{{book['title']}}</p>
           <p class="lili2"><a href="/book/{{book['id']}}">{{book['summary']}}</a></p> 
           <p class="lili3"><span class="lili2-s1">2015-09-08</span>  <span class="lili2-s2"></span></p>
        </li>
        {%end%}
        <div class=" clear"></div>
       
      </ul>
      
      <div class="lie"><!--分页开始-->
<!-- <ul>  
  <li><a style="width:54px;" href="#">上一页</a></li>
  <li><a style="width:34px;" href="#">首页</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a style="width:34px;" href="#">尾页</a></li>
  <li><a style="width:54px;" href="#">下一页</a></li>
</ul> -->

</div><!--分页结束-->

<div class="left-bottom"><img src="{{static_url('images/d-07.png')}}" /></div>
</div>
<!--左边结束  -->
  
  
  
<!--右边开始-->  
  <div class="list-right">
     <div class="list-right1">
        <div class="list-right1-top">热门标签<a href="#">更多>></a></div>
        <div class="sousuo2">
          <form name="form4" method="post" action="/tag">
            
                <input type="text" name="tagname" id="box4" 
        onFocus="if(value==defaultValue){value='';}" onBlur="if(!value){value=defaultValue;}" 
       value="请输入关键字"/>
                <input type="submit" id="ss_btn4" value="搜 索"/>

          </form>  
          </div>
          <div class="clear"></div>
          
          <ul class="fenlei">
             <li>
                <p class="fenlei-p1">文学</p>    
                <p class="fenlei-p2">
                  <a href="/tag/小说">小说</a>
                  <a href="/tag/随笔">随笔</a>
                  <a href="/tag/散文">散文</a>
                  <a href="/tag/日本文学">日本文学</a>
                  <a href="/tag/童话">童话</a>
                  <a href="/tag/诗歌">诗歌</a>
                  <!-- <a href="#"><span>更多>></span></a></p> -->
             </li>
             <div class="clear"></div>
             
               <li>
                <p class="fenlei-p1">流行</p>    
                <p class="fenlei-p2">
                  <a href="/tag/漫画">漫画</a>
                  <a href="/tag/绘本">绘本</a>
                  <a href="/tag/推理">推理</a>
                  <a href="/tag/青春">青春</a>
                  <a href="/tag/言情">言情</a>
                  <a href="/tag/科幻">科幻</a>
                  <!-- <a href="#"><span>更多>></span></a></p> -->
             </li>
             <div class="clear"></div> 
             
                          <li>
                <p class="fenlei-p1">文化</p>    
                <p class="fenlei-p2">
                  <a href="/tag/历史">历史</a>
                  <a href="/tag/哲学">哲学</a>
                  <a href="/tag/传记">传记</a>
                  <a href="/tag/设计">设计</a>
                  <a href="/tag/建筑">建筑</a>
                  <a href="/tag/电影">电影</a>
                  <!-- <a href="#"><span>更多>></span></a></p> -->
             </li>
             <div class="clear"></div>
             
                          <li>
                <p class="fenlei-p1">生活</p>    
                <p class="fenlei-p2">
                  <a href="/tag/旅行">旅行</a>
                  <a href="/tag/励志">励志</a>
                  <a href="/tag/职场">职场</a>
                  <a href="/tag/美食">美食</a>
                  <a href="/tag/教育">教育</a>
                  <a href="/tag/家居">家居</a>
                  <!-- <a href="#"><span>更多>></span></a></p> -->
             </li>
             <div class="clear"></div>
                          <li>
                <p class="fenlei-p1">经管</p>    
                <p class="fenlei-p2">
                  <a href="/tag/经济学">经济学</a>
                  <a href="/tag/管理">管理</a>
                  <a href="/tag/金融">金融</a>
                  <a href="/tag/商业">商业</a>
                  <a href="/tag/营销">营销</a>
                  <a href="/tag/理财">理财</a>
                  <!-- <a href="#"><span>更多>></span></a></p> -->
             </li>
             <div class="clear"></div>
             
                         <li>
                <p class="fenlei-p1">科技</p>    
                <p class="fenlei-p2">
                  <a href="/tag/科普">科普</a>
                  <a href="/tag/互联网">互联网</a>
                  <a href="/tag/编程">编程</a>
                  <a href="/tag/交互设计">交互设计</a>
                  <a href="/tag/算法">算法</a>
                  <a href="/tag/通信">通信</a>
                  <!-- <a href="#"><span>更多>></span></a></p> -->
             </li>
             <div class="clear"></div>
              
             
          </ul>
     </div>


     
     <!-- 代码开始 --> 

<!-- 代码结束 -->


     <div class="list-right2"><!--右边二楼-->
        <div class="list-right1-top">热门书籍<a href="#">更多>></a></div>

          <ul class="shu-list">
            {% for i in range(len(dombooks)) %}
             <li>
                <p class="shu-list-p1"><a href="/book/{{dombooks.values()[i][0]['id']}}"><img src="{{dombooks.values()[i][0]['images']['medium']}}" /></a></p>
                <p class="shu-list-p2">{{dombooks.values()[i][0]['title']}}</p>
                <!-- <p><img src="" /></p>  -->
                <p>作者：{{dombooks.values()[i][0]['author']}}</p> 
                <p>{{dombooks.values()[i][0]['tags']}}</p>
             </li>

             <div class="clear"></div>
             {%end%}
      
          </ul>
     </div>
  </div><!--/*右边结束*/-->
</div>
<div class="clear"></div>







<div class="di">
   <div class="row">
   
  <div class="di-pp"> <p><a href="#">关于书籍推荐系统</a> 
  · <a href="#">黄镨卉</a>
   · <a href="#">秦梓欣</a>
    ·<a href="#"> 陈经冬</a>
<p>all rights reserved 版权所有：陈经东</p>
</div>
   </div>
</div>








</body>
</html>